@model MovieFan.Models.Movies

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div id="divShow">
    <div class="row">
        <h4>Détails de @Model.Title</h4>
        <div id="cmdEdit" class="btn btn-sm btn-primary ml-5">Editer</div>
        <a asp-action="Index" class="btn btn-sm btn-info ml-3">Retour à la liste</a>
    </div>
</div>

<div id="divEdit" class="d-none">
    <form asp-action="Edit">
        <div class="row">
            <h4> Modification de @Model.Title</h4>
            <input type="submit" class="btn btn-sm btn-success ml-5" value="Enregistrer" />
            <div id="cmdCancel" class="btn btn-sm btn-info ml-3">Annuler</div>
            <div id="cmdDelete" class="btn btn-sm btn-danger ml-5">Supprimer</div>
        </div>
        <hr/>
        <div class="form-group row">
            <label asp-for="Title" class="control-label col-2"></label>
            <input asp-for="Title" class="form-control col-6"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Synopsis" class="control-label col-2"></label>
            <textarea asp-for="Synopsis" class="form-control col-6">@Model.Synopsis</textarea>
            <span asp-validation-for="Synopsis" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Rating" class="control-label col-2"></label>
            @foreach (var rating in ViewBag.RatingId)
            {
                <input asp-for="RatingId" type="radio" value="@rating.Value">
                <label>@rating.Text</label>
            }
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <input type="hidden" name="id" value="@Model.Id" />
        <hr/>
    </form>
</div>

<form method="post" asp-action="Delete" id="frmDelete" class="d-none">
    <input type="hidden" name="id" value="@Model.Id" />
</form>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
<script src="\js\showedit.min.js"></script>
